@mixin displayFlexAC {
    display: flex;
    align-items: center;
  }
@mixin displayFlexColumn{
  display:flex;
  flex-direction: column;
}
@mixin displayFlexRow{
  display:flex;
  flex-direction: row;
}
:root{
    color:black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    @include displayFlexAC();
}
.Navbar{
  @include displayFlexRow();
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  background-color: black;
}
.home-text {
  font: 2rem "Fredoka One", cursive;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  margin-top: 100px;
  padding: 10px;
  margin-bottom: 150px;
}
.home-text-effect{
  text-align: center;
}
.home-bar{
  @include displayFlexRow();
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  margin-top:50px;
}
.home-picture {
  width: 100vw;
  overflow-x: scroll;
  height: 100%;
  object-fit: cover;
}
.home-profile-image{
    border-radius: 50%;
    padding: 1vh;
    height: 30rem;
    width: 30rem;
}
.about {
    display: flex;
    flex-direction: row;
    padding:90px;
}
.about-text{
    margin-top: 100px;
}
.summary {
    margin-bottom: 100px;
}
.about-picture{
    object-fit: cover;
    height: 150vh;
    width: 40vw;
    mix-blend-mode: luminosity;
    padding: 50px;
    border-radius: 50%;
}
.work {
  margin-bottom: 100px;
}
.school{
  @include displayFlexRow();
  padding: 7vw;
  width: 80vw;
}
.school-image{
  height: 50%;
  width: 50%;
}
.schoolInfo{
  @include displayFlexColumn();
  margin-left: 8vw;
  justify-content: center;
  text-align: left;
}
.skillsDiv{
  padding: 9vw;
}
.skills{
  @include displayFlexRow();
  justify-content: space-evenly;
  text-align: center;
  width: 90vw;
  margin-top: 5vw;
  flex-wrap: wrap;
}
.skillsTable{
  @include displayFlexColumn();
  border: 1px black solid;
  background-color: whitesmoke;
  color: black;
  padding: 3vw;
  font-size: medium;
  width: 300px;
}
.skillsList{
  list-style-type: none;
  padding: 2vw;
  display: flex;
  flex-direction: row;
  margin-left: 0;
}
.skillsLogo{
  height: 9vh;
  width: 9vh;
  padding: 1vh;
}
.skillsText{
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  align-items: center;
}
.skillsDiv{
  margin-top: 1vw;
  margin-bottom: 1vw;
}
.portfolio{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding:90px;
}
.portfolio-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 90vw;
  justify-content: space-between;
  align-items: center;
}
.portfolio-project{
  min-width: 250px;
  max-width: 40%;
  padding: 1vw;
}
.portfolio-project > * {
  padding: 1vw;
}
.portfolio-picture{
  height: 100%;;
  width: 100%;
}
.portfolio-links > *{
  border: 1px black solid;
  margin-right: 10px;
  padding: 1.5vw;
  background-color: whitesmoke;
}
.portfolio-divider{
  padding: 0px;
}
.contact {
  @include displayFlexColumn();
  height: 100%;
  padding: 9vw;
  min-width: 250px;
  color: black;
}
.contact > * {
  padding: 1vw;
}
@media only screen and (max-width: 600px) {
  .about{
    padding: 1vw;
    width: 90vw;
  }
  .education{
    width: 90vw;
    padding: 1vw;
  }
}