@mixin displayFlexAC {
    display: flex;
    align-items: center;
  }
@mixin displayFlexColumn{
  display:flex;
  flex-direction: column;
}
@mixin displayFlexRow{
  display:flex;
  flex-direction: row;
}
:root{
    color:antiquewhite;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    @include displayFlexAC();
}
.home-text {
  font: 2rem "Fredoka One", cursive;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  margin-top: 100px;
  padding: 10px;
  margin-bottom: 150px;
}
.home-picture {
  width: 100vw;
  overflow-x: scroll;
  height: 100%;
}
.home-profile-image{
    border-radius: 50%;
    padding: 10px;
    height: 30rem;
    width: 30rem;
}
.about {
    display: flex;
    flex-direction: row;
    padding:90px;
}
.about-text{
    margin-top: 100px;
}
.summary {
    margin-bottom: 100px;
}
.about-picture{
    object-fit: cover;
    height: 150vh;
    width: 40vw;
    mix-blend-mode: luminosity;
    padding: 50px;
    border-radius: 50%;
}
.work {
  margin-bottom: 100px;
}
.school{
  @include displayFlexRow();
  padding: 70px;
  width: 80vw;
}
.schoolInfo{
  @include displayFlexColumn();
  margin-left: 8vw;
  justify-content: center;
  text-align: left;
}
.skillsDiv{
  padding: 90px;
}
.skills{
  @include displayFlexRow();
  justify-content: space-evenly;
  text-align: center;
}
.skillsTable{
  @include displayFlexColumn();
  border: 1px black solid;
  background-color: whitesmoke;
  color: black;
  padding: 30px;
  font-size: medium;
  width: 20vw;
}
.skillsList{
  list-style-type: none;
  padding: 15px;
  display: flex;
  flex-direction: row;
  margin-left: 0;
}
.skillsLogo{
  height: 50px;
  width: 50px;
  padding: 10px;
}
.skillsText{
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  align-items: center;
}
.skillsDiv{
  margin-top: 100px;
  margin-bottom: 100px;
}
.portfolio{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding:90px;
}
.portfolio-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.portfolio-project{
  width: 30%;
  padding: 100px 100px 0px 100px;
}
.portfolio-picture{
  height: 100%;;
  width: 100%;
}
.portfolio-links > *{
  border: 1px black solid;
  margin-right: 10px;
  padding: 15px;
  background-color: whitesmoke;
}